# Assignment

# List and its default functions

In [5]:
list1=[1,2,3,"rami"]

In [6]:
type(list1)

list

In [7]:
list1.append("chinna")

In [8]:
list1

[1, 2, 3, 'rami', 'chinna']

In [10]:
list1.clear()

In [11]:
list1

[]

In [13]:
list1=[1, 2, 3, 'rami', 'chinna']

In [18]:
list1.copy()

[1, 2, 3, 'rami', 'chinna']

In [5]:
list1=[1, 2, 3, 'rami', 'chinna']

In [9]:
list1.count(3)

1

In [10]:
list1.extend("rami")

In [11]:
list1

[1, 2, 3, 'rami', 'chinna', 'r', 'a', 'm', 'i']

In [12]:
list1.index("rami")

3

In [14]:
list1.insert(1,"ram")

In [15]:
list1

[1, 'ram', 2, 3, 'rami', 'chinna', 'r', 'a', 'm', 'i']

In [17]:
list1.pop(1)

'ram'

In [19]:
list1.remove(1)

In [20]:
list1

[2, 3, 'rami', 'chinna', 'r', 'a', 'm']

In [21]:
list1.reverse()

In [22]:
list1

['m', 'a', 'r', 'chinna', 'rami', 3, 2]

# Dictionary and its default functions

In [7]:
dict1={20:"rami",4:"chinna",1998:"chinni"}

In [6]:
type(dict1)

dict

In [9]:
dict1.clear()

In [10]:
dict1

{}

In [11]:
dict1={20:"rami",4:"chinna",1998:"chinni"}

In [12]:
dict1.copy()

{20: 'rami', 4: 'chinna', 1998: 'chinni'}

In [17]:
dict1.fromkeys("4")

{'4': None}

In [18]:
dict1

{20: 'rami', 4: 'chinna', 1998: 'chinni'}

In [23]:
dict1.get(20)

'rami'

In [24]:
dict1.items()

dict_items([(20, 'rami'), (4, 'chinna'), (1998, 'chinni')])

In [25]:
dict1.keys()

dict_keys([20, 4, 1998])

In [27]:
dict1.pop(4)

'chinna'

In [28]:
dict1

{20: 'rami', 1998: 'chinni'}

In [29]:
dict1.popitem()

(1998, 'chinni')

In [30]:
dict1={20:"rami",4:"chinna",1998:"chinni"}

In [34]:
dict1.setdefault(4)

'chinna'

In [42]:
dict1.update()

In [36]:
dict1

{20: 'rami', 4: 'chinna', 1998: 'chinni', 1: None}

In [39]:
dict1.values()

dict_values(['rami', 'chinna', 'chinni', None])

# Sets and its default functions

In [43]:
set1={1,2,3,"rami",2,"chinna",20}

In [44]:
set1

{1, 2, 20, 3, 'chinna', 'rami'}

In [45]:
set1.add(2004)

In [46]:
set1

{1, 2, 20, 2004, 3, 'chinna', 'rami'}

In [47]:
set1.copy()

{1, 2, 20, 2004, 3, 'chinna', 'rami'}

In [49]:
set1.difference_update()

In [50]:
set1

{1, 2, 20, 2004, 3, 'chinna', 'rami'}

In [52]:
set1.discard(2)

In [53]:
set1

{1, 20, 2004, 3, 'chinna', 'rami'}

In [59]:
set2={2004,"chinna"}

In [60]:
set2.isdisjoint(set1)

False

In [61]:
set2.issubset(set1)

True

In [62]:
set2.issuperset(set1)

False

In [64]:
set1.pop()

1

In [65]:
set1.remove(3)

In [66]:
set1

{20, 2004, 'chinna', 'rami'}

In [69]:
set1.symmetric_difference("rami")

{20, 2004, 'a', 'chinna', 'i', 'm', 'r', 'rami'}

In [71]:
set1.symmetric_difference_update("rami")

In [72]:
set1

{20, 2004, 'a', 'chinna', 'i', 'm', 'r', 'rami'}

In [73]:
set1.union()

{20, 2004, 'a', 'chinna', 'i', 'm', 'r', 'rami'}

In [75]:
set1.update("donipdi")

In [76]:
set1

{20, 2004, 'a', 'chinna', 'd', 'i', 'm', 'n', 'o', 'p', 'r', 'rami'}

# Tuple and its default functions

In [77]:
tuple1=(1,3,20,"python",20.04,"rami")

In [78]:
type(tuple1)

tuple

In [79]:
tuple1.count(3)

1

In [80]:
tuple1.index("python")

3

# Strings and its defaults functions

In [106]:
str1= " My name is Rami"

In [100]:
type(str1)

str

In [107]:
str1.capitalize()

' my name is rami'

In [108]:
str1.casefold()

' my name is rami'

In [110]:
str1.center(2)

' My name is Rami'

In [111]:
str1.count("is")

1

In [112]:
str1.encode()

b' My name is Rami'

In [115]:
str1.endswith("is")

False

In [116]:
str1.expandtabs()

' My name is Rami'

In [118]:
str1.find("rami")

-1

In [121]:
str1.format()

' My name is Rami'

In [128]:
str1.index("is")

9

In [129]:
str1.isalnum()

False

In [130]:
str1.isalpha()

False

In [131]:
str1.isascii()

True

In [132]:
str1.isdecimal()

False

In [133]:
str1.isdigit()

False

In [134]:
str1.isidentifier()

False

In [137]:
str1.islower()

False

In [138]:
str1.isprintable()

True

In [139]:
str1.isnumeric()

False

In [140]:
str1.istitle()

False

In [141]:
str1.isupper()

False

In [149]:
str1.join("im")

'i My name is Ramim'

In [151]:
str1.ljust(1)

' My name is Rami'

In [152]:
str1.lower()

' my name is rami'

In [153]:
str1.upper()

' MY NAME IS RAMI'

In [154]:
str1.split()

['My', 'name', 'is', 'Rami']

In [155]:
str1.splitlines()

[' My name is Rami']

In [159]:
str1.strip()

'My name is Rami'

In [160]:
str1.swapcase()

' mY NAME IS rAMI'

In [163]:
str1.zfill(2)

' My name is Rami'

In [165]:
str1.rsplit()

['My', 'name', 'is', 'Rami']

In [166]:
str1.title()

' My Name Is Rami'